{% set currentpage = "home" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Gestor de citas Online.{% endblock %}

{% block content %}

    <!-- page content -->
    <div id="caracteristicas" class="content-box">
        <div class="container">

            <h2 class="text-center text-primary">¿A quién va <strong>dirigido</strong>?</h2>
            <p class="text-center">Trabajamos día a día para <strong>adaptar nuestro sistema </strong>a la mayor cantidad de sectores posible.</p>
            <hr/>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/centro-de-belleza.jpg") }}" alt="Centros de belleza"/>
                        <h4>Centro de belleza</h4>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/fotografos.jpg") }}" alt="Fotógrafos"/>
                        <h4>Fotógrafos</h4>
                    </div>
                </div>
                <div class="col-md-3  text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/centros-estetica.jpg") }}" alt="Centros de estética"/>
                        <h4>Estética</h4>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                   <div class="innerbox-lg">
                       <img class="img-circle img-responsive" src="{{ asset("assets/app/images/consultorios-medico.jpg") }}" alt="Médicos"/>
                       <h4>Médicos</h4>
                   </div>
                </div>
            </div>



            <div class="row hidden-xs">
                <div class="col-md-3 text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/dentista.jpg") }}" alt="Dentistas"/>
                        <h4>Dentistas</h4>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/veterinarios.jpg") }}" alt="Veterinarios"/>
                        <h4>Veterinarios</h4>
                    </div>
                </div>
                <div class="col-md-3  text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/fisios-terapias.jpg") }}" alt="Fisio terapeutas"/>
                        <h4>Fisio terapeutas</h4>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="innerbox-lg">
                        <img class="img-circle img-responsive" src="{{ asset("assets/app/images/abogados.jpg") }}" alt="Abogados"/>
                        <h4>Abogados</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page planesPrecios -->
    <div id="planesPrecios" class="content-box gray">
        <div class="container">
            <h2 class="text-center">Planes y precios</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae earum et, harum in modi natus necessitatibus neque odit optio porro praesentium, quis rem reprehenderit, soluta sunt tenetur velit voluptas!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae earum et, harum in modi natus necessitatibus neque odit optio porro praesentium, quis rem reprehenderit, soluta sunt tenetur velit voluptas!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae earum et, harum in modi natus necessitatibus neque odit optio porro praesentium, quis rem reprehenderit, soluta sunt tenetur velit voluptas!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae earum et, harum in modi natus necessitatibus neque odit optio porro praesentium, quis rem reprehenderit, soluta sunt tenetur velit voluptas!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae earum et, harum in modi natus necessitatibus neque odit optio porro praesentium, quis rem reprehenderit, soluta sunt tenetur velit voluptas!</p>
        </div>
    </div>

    <div id="servicios" class="content-box">
        <div class="container">
            <h2 class="text-center">Servicios</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta exercitationem facere inventore pariatur
                qui! Accusamus adipisci aperiam atque ex mollitia necessitatibus quaerat recusandae similique ullam!
                Aliquid distinctio est et voluptatem.</p>
        </div>
    </div>

{% endblock %}
