<div class="container">
    <div class="row">
        <a class="col-xs-12 col-md-3 logo text-center" title="Reserving.me" href="/">
            <img src="{{ asset("app/images/logo.png") }}" class="img-responsive center-block" alt="Reserving"/>
        </a>

        <!-- Menú principal -->
        <nav class="menu col-xs-12 col-md-8 pull-right" role="navegation">
            <ul class="main-menu">
                <li class="main-menu__item--current"><a href="{{ path("web_homepage") }}">Inicio</a></li>
                <li class="main-menu__item"><a href="{{ path("web_servicios") }}">Servicios</a></li>
                <li class="main-menu__item"><a href="#planesPrecios">Planes y precios</a></li>
                <li class="main-menu__item"><a href="{{ path("web_preguntas_frecuentes") }}">faq's</a></li>
                <li class="main-menu__item"><a href="#contacto">Contacto</a></li>
            </ul>

            <ul class="login-menu">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="login-menu__item login-menu__item--logout">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li class="login-menu__item login-menu__item--login">
                        <a href="{{ path('fos_user_security_login') }}">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>

                    <li class="login-menu__item login-menu__item--register">
                        <a href="{{ path("fos_user_registration_register") }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>