{% set currentpage = "appHome" %}
{% extends "@App/admin/admin_layout.html.twig" %}
{% block title %}Gestor de citas Online.{% endblock %}

{% block content %}
    <!-- Inicio .leftpanel -->
    <div class="leftpanel">

        <!-- Inicio .logopanel -->
        <div class="leftpanel__logo">
            <img alt="Reserving " src="{{asset("assets/app/images/isotipo.png")}}" class="img-responsive">
            <h1>
                RESERVING
                <span>Gestor de citas online.</span>
            </h1>
        </div>
        <!-- Inicio .logopanel -->

        <!-- Inicio .leftpane__linner -->
        <div class="leftpanel__inner">

            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li  ng-class="{ active: $state.includes('reseving') }">
                    <a ui-sref="reseving">
                        <i class="glyphicon glyphicon-calendar"></i>
                        <span>Citas</span>
                    </a>
                </li>
                <li ng-class="{ active: $state.includes('empleados') }">
                    <a ui-sref="empleados.list">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        <span>Empleados</span>
                    </a>
                </li>
                <li ng-class="{ active: $state.includes('clientes') }">
                    <a ui-sref="clientes.list">
                        <i class="glyphicon glyphicon-adjust"></i>
                        <span>Clientes</span>
                    </a>
                </li>
                <li ng-class="{ active: $state.includes('servicios') }">
                    <a ui-sref="servicios.list">
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <span>Servicios</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Final .leftpane__linner -->

    </div>
    <!-- Final .leftpanel -->


    <div class="mainpanel">

        <!-- Inicio .headerbar -->
        <div class="headerbar">
            <a class="menutoggle"><i class="fa fa-bars"></i></a>
            <div class="headerbar__right pull-right">
                <ul class="headerbar__menu">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="https://s3.amazonaws.com/quizzpot/users/2563/large/front-end-dan.png" alt=""/>
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href=""><i class="glyphicon glyphicon-user"></i> Mi perfil</a></li>
                                <li><a href=""><i class="glyphicon glyphicon-cog"></i> Configuraciones</a></li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="glyphicon glyphicon-log-out"></i>
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-default tp-icon chat-icon">
                            <i class="glyphicon glyphicon-fire"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Final .headerbar -->

        <ul class="hidden login-menu">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="login-menu__item login-menu__item--logout">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
            {% endif %}
        </ul>

        <!-- Inicio .pageheader -->
        <div class="pageheader">
            <h2>
                <i class="fa fa-users"></i>
                [[titulo]]
                <span>[[descripcion]]</span>
            </h2>
            <div class="breadcrumb-wrapper">
                <span class="label"><i class="fa fa-street-view fa-lg"></i> Estas en:</span>
                <div ncy-breadcrumb></div>
            </div>

        </div>
        <!-- Final .pageheader -->


        <div class="contentpanel">
            <div ui-view></div>
        </div>

        <div class="footer fixed">
            <p class="copy pull-left">Copyright <strong>RESERVING</strong> © 2015-2016</p>
        </div>
    </div>
{% endblock %}
