{% set currentpage = 'useraccess'%}
{% extends "@App/webLayout.html.twig" %}

{% block title %} Entrar{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="form-user login-wraper col-xs-12 col-sm-4 col-sm-offset-4">
    {% block fos_user_content %}

        <img src="{{ asset("assets/app/images/logo.png") }}" alt="Reserving.me" class="logo img-responsive center-block"/>

        <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <input class="form-control input-lg"
                       type="text" id="username"
                       name="_username"
                       placeholder="Accede con tu email o usuario"
                       value="{{ last_username }}"
                       required="required" />
            </div>

            <div class="form-group">
                <input class="form-control input-lg" type="password" id="password"
                       name="_password"
                       required="required"
                       placeholder="Contraseña"/>
            </div>

            <div class="form-group clearfix">
                <div class="checkbox pull-left">
                    <input type="checkbox" id="remember_me" name="_meremember_" value="on" />
                    <label for="remember_me" class="control-label">Recordar Datos</label>
                </div>

                <div class="pull-right">
                    <a href="{{ path('fos_user_resetting_send_email') }}">Contraseña olvidada</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success btn-block bnt-lg" type="submit" id="_submit">
                        <i class="glyphicon glyphicon-log-in"></i> {{ 'security.login.submit'|trans }}
                    </button>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block bnt-lg" href="{{ path('fos_user_registration_register') }}">
                        <i class="glyphicon glyphicon-user"></i> ¿Quieres registrarte?
                    </a>
                </div>
            </div>
        </form>
    {% endblock fos_user_content %}
    <footer class="text-center">
        <small>Copyright 2014 - 2015 <strong>Reserving</strong>. Todos los derechos reservados.</small>
    </footer>
</div>
{% endblock %}
{% block footer %} {% endblock %}