{% set currentpage = 'pagelogin'%}
{% extends "@App/webLayout.html.twig" %}

{% block title %} Entrar{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <img src="{{ asset("app/images/logo.png") }}" alt="Reserving.me" class="logo img-responsive center-block"/>
{% endblock %}

{% block content %}
<div class="login-wraper col-xs-12 col-md-4 col-md-offset-4">
    {% block fos_user_content %}
        {% if error %}
            <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control input-lg"
                       type="text" id="username"
                       name="_username"
                       placeholder="Accede con tu email o usuario"
                       value="{{ last_username }}"
                       required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control input-lg" type="password" id="password"
                       name="_password"
                       required="required"
                        placeholder="Contraseña"/>
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div class="form-group">
                <button class="btn btn-success col-sm-5 col-xs-12 btn-lg" type="submit" id="_submit">
                    <i class="glyphicon glyphicon-log-in"></i> {{ 'security.login.submit'|trans }}
                </button>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger col-sm-5 pull-right col-xs-12 btn-lg">
                    <i class="glyphicon glyphicon-user"></i> {{ 'registration.submit'|trans }}
                </a>
            </div>
        </form>
    {% endblock fos_user_content %}
</div>
{% endblock %}
{% block footer %}{% endblock %}